.chartContainer {
    position: relative;
    width: 100%;
    height: 320px;
    max-height: 320px;
    padding: 1rem;
    background-color: red;
    border-radius: 1rem;

    @media (max-width: 1024px), (max-height: 780px) {
        height: 205px;
        max-height: 205px;
        padding: 0.5rem;
    }
    @media (max-width: 600px) {
        height: 160px;
        max-height: 160px;
        padding: 0.2rem;
    }
}

.title {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    z-index: 1;
    color: rgba(255, 255, 255, 0.7);
    width: 50%;
    line-height: 1.5;

    @media (max-width: 1024px), (max-height: 780px) {
        top: 1rem;
        left: 1rem;
        font-size: 0.8rem;
        width: 70%;
    }
    @media (max-width: 600px) {
        font-size: 0.7rem;
        top: 0.5rem;
        left: 0.5rem;
        width: 90%;
    }
}

.customTooltip {
    font-size: 1rem;
    @media (max-width: 1024px), (max-height: 780px) {
        font-size: 0.85rem;
        padding: 4px 8px !important;
    }
    @media (max-width: 600px) {
        font-size: 0.7rem;
    }
}