.CounterCard {
    background-color: $offwhite;
    padding: 1.5rem; // Réduit légèrement le padding
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem; // Réduit légèrement l'espace
    &__icon {
        width: 50px; // Réduit légèrement la taille
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }
    &__infos {
        &__number {
            font-size: 20px;
            color: $base-color;
            margin-bottom: 0.5rem;
        }
        &__type {
            color: $grey;
        }
    }
}

.red {
    background-color: $offRed;
}

.blue {
    background-color: $offBlue;
}

.yellow {
    background-color: $offYellow;
}

.pink {
    background-color: $offPink;
}
