.App {
    &__content {
        display: flex;
    }
    &__test {
        background: red;
        &__radar {
            background-color: $base-color;
        }
        &__score {
            background-color: $offwhite;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__activity {
        background-color: $offwhite;
    }
    &__duration {
        background-color: red;
    }
    &__domains {
        background-color: $base-color;
    }
    &__score {
        background-color: $offwhite;
    }
    &__side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
