$base-color: #020203;
$base-color-alternate: #282d30;
$accent-color: #f00;

$blue: #4ab8ff;
$yellow: #fdcc0c;
$pink: #fd5181;

$offRed: rgba(255, 0, 0, 0.06);
$offBlue: rgba(74, 184, 255, 0.1);
$offYellow: rgba(249, 206, 35, 0.1);
$offPink: rgba(253, 81, 129, 0.1);

$grey: #74798c;
$offwhite: #fbfbfb;
